.tiptap > * + * {
  margin-top: 0.75em;
}
.mention {
  /*border: 1px solid #000;*/
  /*border: 1px solid white;*/
  color: #2ab0ed;
  text-decoration: underline;
  border-radius: 0.4rem;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem;
  cursor: pointer;
  position: relative;
}

.mention::after{
  content: "";
  text-decoration: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 1em;
  height: 1em;
  background: url("./fileIcon.svg") no-repeat;
  background-size: contain;
  filter: invert(69%) sepia(63%) saturate(4601%) hue-rotate(171deg) brightness(104%) contrast(86%);
}
