/*https://stackoverflow.com/a/38994837*/
.ScrollableButHiddenScrollBar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.ScrollableButHiddenScrollBar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
