.flexItem
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    /*background-color: #008a00;*/

    height: 20%;
    /*overflow-y: visible;*/
    /*overflow-x: hidden;*/
    padding-top: 1rem;

    /*border-bottom: 1px solid white;*/
}

.noteInfoSidePanel
{
    transition: width .2s;
    box-shadow: 0px 0px 0px #00000077,0px 0px 9px #00000055,inset 0px 0px 0px 1px #49555f;
}

/*@media (max-width: 768px) {*/
/*    .noteInfoSidePanel*/
/*    {*/
/*        position: absolute;*/
/*        height: 100%;*/
/*        right: 0;*/
/*        width: 100% !important;*/
/*    }*/
/*}*/

