.ltr {
    text-align: left;
}

.rtl {
    text-align: right;
}

.editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    /*border: 1px solid white;*/
    /*top: 15px;*/
    /*left: 15px;*/
    top: 0;
    user-select: none;
    pointer-events: none;
}

.editor-paragraph {
    margin: 0 0 15px 0;
    position: relative;
}

.SCROLLBAR_WRAPPER > * {
    /*display: none;*/
    overflow-x: hidden !important;
}

.editor-textUnderline {
    text-decoration: underline;
}

.editor-ol1 {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}